{# templates/main/menu.html.twig #}
<nav>
    {# on utilise path('nom_du_chemin') lorsqu'on veut un lien vers une page #}
    <a href="{{ path('homepage') }}">Homepage</a>
    <a href="{{ path('about_me') }}">About me</a>
    <a href="{{ path('app_admin_post_index') }}">Post Crud</a>
    <a href="{{ path('app_admin_section_index') }}">Section Crud</a>
</nav>
