{% extends 'base.html.twig' %}

{% block title %}New Section{% endblock %}

{% block body %}
    <h1>Create new Section</h1>

    {{ include('adminsection/_form.html.twig') }}

    <a href="{{ path('app_adminsection_index') }}">back to list</a>
{% endblock %}
