<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}EntitiesG1{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    {#  notre contenu (nos templates #}
    {% block content %}
    {% endblock %}
    {# contenu automatique des cruds, form etc... #}
    {% block body %}
    {% endblock %}
    </body>
</html>
